extends layout

block content
  .container-fluid
    h1 #{__('Distributed Blockchain')}
    - var peers = {1: 'A', 2: 'B', 3: 'C'}
    - each peer, chain in peers
      h3 #{__('Peer')} #{peer}
      .row.row-horizon
        - var blocks = []
        - blocks.push({block: 1, chain: chain, nonce: 1103, content: 'itcc.li Ausflug 2013\n24. Oktober 2013\nGoogle ZH', previous: '0000000000000000000000000000000000000000000000000000000000000000'})
        - blocks.push({block: 2, chain: chain, nonce: 49382, content: 'itcc.li Ausflug 2014\n26. März 2014\nSRF-Studio in Leutschenbach', previous: '00002150ece535e9cde8a41764fd49fc5219fd9659ed9ae67b27c55a2a836e46'})
        - blocks.push({block: 3, chain: chain, nonce: 6620, content: 'itcc.li Ausflug 2014\n26. März 2014\nSRF-Studio in Leutschenbach', previous: '0000125350704a9e851e6a398e941ef121a854d5c743c95563614c8cd4106302'})
        - blocks.push({block: 4, chain: chain, nonce: 162927, content: 'itcc.li Ausflug 2015\n13. März 2015\nMicrosoft Schweiz in Wallisellen', previous: '000001c06ef3ef63686ee91a3ae8b76733c55a50be9fba6b475db9fab975bcdb'})
        - blocks.push({block: 5, chain: chain, nonce: 91340, content: 'itcc.li Ausflug 2016\n14. Oktober 2016\nHilti AG, Innovationszentrum', previous: '0000010231f57163274bdbc1a9352a90f52c6698d80796d5b36ce4ad80b92d96'})
        each block in blocks
          .col-xs-7
            include includes/block.jade

  script.
    $(function() {
      setup(1, 1);
      setup(2, 1);
      setup(3, 1);
      setup(4, 1);
      setup(5, 1);

      setup(1, 2);
      setup(2, 2);
      setup(3, 2);
      setup(4, 2);
      setup(5, 2);

      setup(1, 3);
      setup(2, 3);
      setup(3, 3);
      setup(4, 3);
      setup(5, 3);
    });

    function getText(block, chain) {
      return $('#block'+block+'chain'+chain+'number').val() +
             $('#block'+block+'chain'+chain+'nonce').val() +
             $('#block'+block+'chain'+chain+'data').val() +
             $('#block'+block+'chain'+chain+'previous').val();
    }

    function setup(block, chain) {
      updateHash(block, chain);
      $('#block'+block+'chain'+chain+'mineButton').click(function(e) {
          e.preventDefault();
          var l = Ladda.create(this);
          l.start();
          setTimeout(function() {
              mine(block, chain, true);
              l.stop();
            }, 250); // give UI time to update
        });
    }
